alsa_in
alsa_out
pkgIndex.tcl
*.o
*.so
*~
*.log
*.out
test/test-ovsv
test/test-osc
test/test-osc2
test/test-window
test/*.txt
logs/*
retired/*
pkey
cert
cert.req
dspserver.conf
dbus-2.0/doc/dbus.n
dbus-2.0/doc/dbus.html

